<section class="airdrop-banner">
  <div class="airdrop-banner__container">
    <div class="airdrop-bg">
      <div class="airdrop-items">
        <div class="airdrop-img oval left-oval">
          <div class="img-wrapper">
            <img src="assets/pods1.png" alt="Airdrop 500 Anc" />
          </div>
        </div>
        <div class="airdrop-img oval">
          <div class="img-wrapper">
            <img src="assets/pods2.png" alt="Airdrop 500 Anc" />
          </div>
        </div>
      </div>
    </div>
    <div class="airdrop-content">
      <h2>Airdrop 500 Anc</h2>
      <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a product ... <span class="read-more">Read More</span></p>
      <div class="airdrop-price">Price : <span>$45.99</span></div>
      <div class="airdrop-colors">
        <span class="color color-black"></span>
        <span class="color color-yellow"></span>
        <span class="color color-blue"></span>
      </div>
      <div class="airdrop-actions">
        <button class="add-to-cart">Add to cart</button>
        <button class="explore-more">Explore More</button>
      </div>
    </div>
  </div>
</section>
