<section class="featured-products">
  <div class="featured-products__container">
  <div class="featured-bg">
    <div class="outline-title">Apple wireless Airpod</div>
    <div class="featured-items">
        <div class="featured-img left">
          <div class="img-wrapper">
            <img src="assets/airpods1.png" alt="Apple wireless Airpod" />
          </div>
        </div>
        <div class="featured-img center">
          <div class="img-wrapper">
            <img src="assets/airpods2.png" alt="Apple wireless Airpod" />
          </div>
        </div>
        <div class="featured-img right">
          <div class="img-wrapper">
            <img src="assets/airpods3.png" alt="Apple wireless Airpod" />
          </div>
        </div>
    </div>
    <div class="featured-price">Price : <span>$45.99</span></div>
  </div>
  <div class="featured-content">
    <h2>Our Featured Products</h2>
    <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a product</p>
    <div class="featured-actions">
      <button class="add-to-cart">Add to cart</button>
      <button class="view-more">View more</button>
      </div>
    </div>
  </div>
</section>
